@font-face {
    font-family: "HankenGroteskRegular";
    src: url(../fonts/HankenGrotesk-VariableFont_wght.ttf); 
}

@font-face {
    font-family: "HankenGroteskBold";
    src: url(../fonts/static/HankenGrotesk-Bold.ttf);
}

@font-face {
    font-family: "HankenGroteskExtraBold";
    src: url(../fonts/static/HankenGrotesk-ExtraBold.ttf);
}

@font-face {
    font-family: "HankenGroteskMedium";
    src: url(../fonts/static/HankenGrotesk-Medium.ttf);
}